@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    
}

header {
    background-color: azure;
    color: black;
    min-height: 150px;
    text-align: center;
    padding: 40px;


    min-width: 425px;
    max-width: 1280px;
    height: 30px;
    margin: auto;
}

header > h1 {
    padding-top: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
}

header  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
    cursor: pointer;
}

 header a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

header img {
    height: 100px;
}

main {
    background-color: white;
    padding: 40px;

    
    min-width: 425px;
    max-width: 1280px;
    margin: auto;
}


main img {
    width: 100%;
}

main video {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: azure;
    padding: 20px;

    min-width: 425px;
    max-width: 1280px;
    margin: auto;
}

footer a {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.panoram {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 30px;
}
